@model List<WhiskyBLL.WhiskyDTO>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Whiskys</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Year</th>
                <th>Country</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var whisky in Model)
            {
                <tr>
                    <td>@whisky.Name</td>
                    <td>@whisky.Age</td>
                    <td>@whisky.Year</td>
                    <td>@whisky.Country</td>
                    <td>@whisky.Region</td>
                </tr>
            }
        </tbody>
    </table>
</div>