@model WhiskyMVC.Models.WhiskyViewModel;

@{
    ViewData["Title"] = "Whisky Home Page";
}

<div class="text-center">
    <h1 class="display-4">Whiskys Website</h1>
</div>

<div>
    <div>
      <h3>@Model.Name</h3>
      <p><strong>Age:</strong> @Model.Age years</p>
      <p><strong>Region:</strong> @Model.Region</p>
      <p><strong>Country:</strong> @Model.Country</p>
      <p><strong>Year:</strong> @Model.Year</p>
    </div>
</div>